@charset "utf-8";
/* CSS Document */

.p_amigos {
	margin-top:8px;
	font-size: 16px;
	position:absolute;
	cursor:pointer;
}

.p_link_ref {
	font-family:"Century Gothic";
	font-size:16px;
	margin-top: 3px;
	margin-left: 30px;
	color:#FFF;
}

.p_link {
	font-family:"Century Gothic";
	font-size:16px;
	margin-top: 3px;
	margin-left: 55px;
	color:#FFF;
}

.p_link_esq {
	font-family:"Century Gothic";
	font-size:16px;
	margin-top: 3px;
	margin-left: 50px;
	color:#FFF;
}

.p_link_dir {
	font-family:"Century Gothic";
	font-size:16px;
	margin-top: 3px;
	margin-left: 42px;
	color:#FFF;
}

#principal {
	width: 995px;
	height: 630px;
	margin-left:auto;
	margin-right:auto;
}

#barra {
	width: 995px;
	height: 67px;
	background-image:url(../Design/lines_menor.png);
	background-repeat:no-repeat;
}

#conteudo {
	width: 995px;
	height: 570px;
	position:absolute;
}

#coluna1{
	float:left;
	margin-top: 20px;
}

#coluna2 {
	width: 797px;
	height: auto;
	float:left;
	margin-left: 10px;
	margin-top: 20px;
	background-image:url(../Design/bg_linhas_conteudo.png);
	background-repeat:no-repeat;
	background-position:right;
}

#menu {
	width: 797px;
	height: 30px;
	position:absolute;
}

#bt1 {
	width: 153px;
	height: 30px;
	float:left;
	background-image:url(../Design/btn_out.png);
}

#bt2 {
	width: 153px;
	height: 30px;
	float:left;
	background-image:url(../Design/btn_out.png);
	margin-left:7px;
}

#bt3 {
	width: 153px;
	height: 30px;
	float:left;
	background-image:url(../Design/btn_out.png);
	margin-left:7px;
}

#bt4 {
	width: 153px;
	height: 30px;
	float:left;
	background-image:url(../Design/btn_on.png);
	margin-left:7px;
}

#bt5 {
	width: 153px;
	height: 30px;
	float:left;
	background-image:url(../Design/btn_out.png);
	margin-left:7px;
}


#segura_conteudo {
	width: 797px;
	height: 500px;
	margin-top: 35px;
}

#caixa_uploud_ref {
	width: 640px;
	height: 30px;
}

#bt_uploud_ref {
	width: 153px;
	height: 28px;
	color:#FFF;
	background-color:#0d88cc;
	border-color:#0d88cc;
	margin-left: 482px;
}

#referencias {
	width: 797px;
	height: 460px;
	overflow:auto;
	background-image:url(../Design/linha_roll.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-top: 10px;
}

#ref1 {
	width: 760px;
	height: 125px;
}

#ref_foto {
	width: 100px;
	height: 100px;
	border:1px solid #666;
	float:left;
}

#ref_band_name {
	width: 350px;
	height: 20px;
	margin-left: 20px;
	float:left;
}

#ref_descri {
	width: 600px;
	height: 80px;
	margin-left: 20px;
	float:left;
}

#bt_excluir_ref {
	width: 20px;
	height: 29px;
	background-image:url(../Design/excluir.png);
	background-repeat:no-repeat;
	float:left;
	margin-left:7px;
}

#mostrar_amigos {
	position:absolute;
	width:300px;
	height:300px;
	margin-left:-150px;
	margin-top:-150px;
	top:300px;
	left:600px;
	background-color:#F00;
	z-index:10;
	display:none;
}

#pretona {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#000;
	opacity:0.7;
	position:absolute;
	z-index:1;
	display:none;
}
